# Python
__pycache__/
*.py[cod]
venv/
.env

# Data (Exclude raw large files but allow compressed)
data/*.jsonl
data/*.txt
!data/ccr_sections.jsonl.gz


# Logs
logs/
debug_*.html

# IDE
.vscode/
.idea/
